
@import "./partials/_colors";
@import "./partials/_screensizes";
@import "./partials/_mixins";
@import "./partials/_global";


.hero{

    background-image: url(../Assets/Images/hero-bio.jpg);
    background-position: center;
    position:relative;
    background-size: cover;
    height: 40vh;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    @media (min-width:$tablet) {
        height:50vw;
    }
    @media (min-width:$desktop) {
       height:100vh; 
    }

    &__overlay{
        position:absolute;
        z-index: 2;
        background-color: #32323280;
        top:0;
        left: 0;
        width: 100%;
        height:100%;
    }
    &__title{
        font-family: avenir;
        font-weight: 600;
        color: $primary3;
        position: relative;
        z-index: 3;
        @media (min-width:$tablet) {
            font-size:3rem;
            padding-left:1.5rem;
        };
        @media(min-width:$desktop){
            font-size:7rem;
            padding-left:5rem;
        };
    }
}

.about{
    display:flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    @media (min-width: $tablet) {
        margin-left: 2.25rem;
        margin-right: 2.25rem;
      };
    @media(min-width:$desktop){
        margin-left:auto;
        margin-right:auto;
    }
    &__title{
        @include title-text;
        font-size: 1.5rem;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        @media (min-width:$tablet) {
            font-size: 2rem;
        }
        @media (min-width:$desktop) {
            font-size:2.5rem;
        }
    }
    &__image{
        padding-bottom:1rem;
        @include about-padding;
    }
    &__quote{
        @include title-text;
        line-height: 1.5rem;;
        margin:0;
        padding-bottom:1rem;
        @include about-padding;
    }
    &__band-name{
        font-family: avenir;
        font-weight: 400;
        color: $secondary;
        font-size: 0.875rem;
        padding-bottom:1rem;
        margin:0;
        line-height: 1.375rem;
        @include about-padding;
        @media (min-width: $tablet) {
            margin-top: 2rem;
            font-weight: 600;
            font-size: 1rem;
          }
    }
    &__info-container{@media (min-width: $tablet){
        display: flex;
        flex-direction: row;
        justify-content: center;
        @include about-padding;
    }}
    &__info{
        margin-top:0;
        font-family: avenir;
        font-weight: 400;
        font-size: 0.8125rem;
        color: $primary;
        line-height: 1.125rem;
        @media (min-width: $tablet){
            display: flex;
            justify-content: space-around;
            padding: .5rem;
        }
    }
}

.gallery{
    background-color: $secondary3;
    @media (min-width:$tablet) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    &__title{
        font-size: 1.5rem;
        line-height: 2rem;
        @include title-text;
        padding-top:1rem;
        @media(min-width:$tablet){
            padding-left: 1rem;
            font-size: 2rem;
        }
    }
    &__container{
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        @media (min-width:$tablet) {
            flex-direction: row;
            flex-wrap: wrap;
        }
        @media(min-width: $desktop){
            margin-right: auto;
            margin-left: auto;
        }
    }
    &__photo{
        width: 100vw;
        padding: .5rem 1rem;
        filter: grayscale(1);
        @media (min-width:$tablet) {
            width: 30vw;
        }
        &:hover{
            filter:grayscale(0);
        }
    }
}

.form{
    &__body{
        display:flex;
        flex-direction: row;
    }
    &__title{
        font-family: avenir;
        font-size: 1.5rem;
    }
    &__inputs{
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        padding-bottom:1rem;
    }
    &__heading{
        font-size: .875rem;
        color: $primary2;
        font-family: avenir;
        font-weight: 600;
        padding-bottom:.5rem;
    }
    &__box{
        margin-bottom: .5rem;
    }
    &__profile-pic-div{
        height: 2.25rem;
        width: 2.25rem;
        text-align: center;
        padding:0;
        display: inline-block;

    }
    &__profile-pic-img{
        height:100%;
        width: 100%;
        border-radius: 50%;
        padding: 0;
    }
    &__button{
        background: $primary;
        color: $primary3;
        font-family: avenir; 
        font-weight: 600;
        padding: .75rem 0rem;
        border-radius: 5%;
        margin: .5rem 0rem;
    }
}

.comments{
    &__item{
        display:flex;
        flex-direction: row;
        border-top: 1px solid $primary2;
        padding-top: .5rem;
        margin-bottom: .5rem;
    }
    &__list{
        list-style: none;
        padding-left: 0;
    }
    &__profile-pic-div{
        margin-top: .5rem;
        background-color: $primary2;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        padding-right: 2.5rem;
    }
    &__header{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__username{
        font-family: avenir;
        font-weight: 600;
        color: primary;
    }
    &__date{
        font-family: avenir;
        font-weight: 400;
        color: $primary2;
    }
    &__text{
        font-family: avenir;
        font-weight: 400;
        color: $primary;
        padding-top: 0;
        margin-top: 0;
    }
    &__container{
        display:flex;
        flex-direction: column;
        padding-left: .5rem;
    }
}