@import "./partials/_screensizes";
@import "./partials/_mixins";
@import "./partials/_colors";
@import "./partials/_global";



.hero{

    background-image: url(../Assets/Images/);
    background-position: center;
    position:relative;
    background-size: cover;
    height: 40vh;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    @media (min-width:$tablet) {
        height:50vw;
    }
    @media (min-width:$desktop) {
       height:100vh; 
    }

}