*, *::before, *::after {
  box-sizing: border-box;
}

@font-face {
  font-family: avenir;
  src: url(../Assets/Font/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: avenir;
  src: url(../Assets/Font/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: avenir;
  src: url(../Assets/Font/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
.header {
  display: flex;
  flex-direction: column;
  background-color: #323232;
  padding: 0rem;
  margin: 0rem;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .header {
    padding-left: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .header {
    padding-left: 5rem;
  }
}
.header__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: avenir;
  font-weight: 400;
  color: #FFFFFF;
  margin: 1rem;
  margin-bottom: 0rem;
  text-align: center;
}
.header__link {
  display: inline;
  text-align: center;
}
.header__logo {
  width: 30vw;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .header__logo {
    padding-left: 3rem;
    padding-right: 5rem;
    align-self: center;
    padding-bottom: 1.5rem;
    padding-top: 3rem;
    width: 35vw;
  }
}
@media (min-width: 1280px) {
  .header__logo {
    padding-left: 5rem;
    width: 20vw;
  }
}
.header__link {
  text-decoration: none;
}
.header__nav {
  margin: 0;
  padding: 0;
  align-self: center;
}
.header__nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.header__nav-item {
  padding: 1rem 3rem;
  color: #FFFFFF;
  font-family: avenir;
  font-weight: 600;
  text-align: center;
  font-size: 1rem;
  width: 50vw;
}
.header__nav-item:hover {
  color: palevioletred;
}
@media (min-width: 768px) {
  .header__nav-item {
    width: 20vw;
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
}
.header__nav-item--active {
  border-bottom: 4px solid #FFFFFF;
  font-weight: 600;
}
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.footer {
  background-color: #323232;
  padding: 1rem;
}
@media (min-width: 768px) {
  .footer {
    margin-left: 2.25rem;
    margin-right: 2.25rem;
  }
}
@media (min-width: 768px) {
  .footer {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
.footer__container {
  align-items: center;
}
@media (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .footer__container-left {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.footer__title {
  color: #FFFFFF;
  font-family: avenir;
  font-weight: 600;
  font-size: 1.5rem;
}
.footer__socials {
  color: #FFFFFF;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__socials {
    margin-left: 2rem;
  }
}
.footer__icon {
  padding-right: 1rem;
}
.footer__site-name-top {
  display: none;
  color: #FFFFFF;
  font-family: avenir;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
}
@media (min-width: 768px) {
  .footer__site-name-top {
    display: inline-flex;
    justify-self: flex-end;
  }
}
@media (min-width: 768px) {
  .footer__contact {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .footer__grouping {
    padding-right: 2.5rem;
  }
}
.footer__name {
  font-family: avenir;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #FFFFFF;
  margin: 0;
}
.footer__org {
  font-family: avenir;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #FFFFFF;
  margin: 0;
}
.footer__info {
  font-family: avenir;
  line-height: 1.125rem;
  font-weight: 400;
  font-size: 0.8125rem;
  color: #FFFFFF;
}
.footer__email {
  font-family: avenir;
  line-height: 1.125rem;
  font-weight: 400;
  font-size: 0.8125rem;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .footer__site-name {
    display: none;
  }
}
.footer__copyright {
  font-family: avenir;
  line-height: 1.125rem;
  font-weight: 400;
  font-size: 0.8125rem;
  color: #FFFFFF;
}

.hero {
  background-image: url(../Assets/Images/hero-shows.jpg);
  background-position: center;
  position: relative;
  background-size: cover;
  height: 60vh;
  display: flex;
  align-items: flex-start;
  padding-left: 1rem;
  flex-direction: column;
}
@media (min-width: 768px) {
  .hero {
    height: 80vh;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 100vh;
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .hero__container {
    width: 50vw;
    align-self: center;
  }
}
.hero__iframe {
  z-index: 3;
  font-size: 10px;
  color: #cccccc;
  line-break: anywhere;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
  font-weight: 100;
  width: 80vw;
}
@media (min-width: 1280px) {
  .hero__iframe {
    align-self: center;
    width: 50vw;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
.hero__iframe-link {
  color: #cccccc;
  text-decoration: none;
}
.hero__overlay {
  position: absolute;
  z-index: 2;
  background-color: rgba(50, 50, 50, 0.5019607843);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero__title {
  font-family: avenir;
  font-weight: 400;
  color: #FFFFFF;
  position: relative;
  z-index: 3;
  font-size: 1rem;
  padding-top: 3rem;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 1.5rem;
    padding-left: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    font-size: 2rem;
    padding-left: 5rem;
    font-weight: 600;
    align-self: center;
  }
}
.hero__album-name {
  font-family: avenir;
  font-weight: 600;
  color: #FFFFFF;
  position: relative;
  z-index: 3;
}
@media (min-width: 768px) {
  .hero__album-name {
    font-size: 3rem;
    padding-left: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .hero__album-name {
    margin-top: 0;
    font-size: 5rem;
    padding-left: 5rem;
    align-self: center;
  }
}

.tour-dates__header--fixed {
  display: none;
  list-style: none;
  padding-left: 1rem;
  margin-left: 0;
}
@media (min-width: 768px) {
  .tour-dates__header--fixed {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .tour-dates__header-item--fixed {
    width: 20vw;
  }
}
.tour-dates__title {
  font-family: avenir;
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 1rem;
}
.tour-dates__list {
  padding-left: 0;
}
.tour-dates__header {
  font-size: 0.875rem;
  color: #AFAFAF;
  font-family: avenir;
  font-weight: 600;
}
@media (min-width: 768px) {
  .tour-dates__header {
    display: none;
  }
}
.tour-dates__info {
  font-size: 0.875rem;
  color: #323232;
  font-family: avenir;
}
@media (min-width: 768px) {
  .tour-dates__info {
    width: 20vw;
  }
}
.tour-dates__info--bold {
  font-weight: bold;
}
.tour-dates__item {
  border-bottom: 1px solid #E1E1E1;
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
  list-style: none;
}
@media (min-width: 768px) {
  .tour-dates__item {
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-between;
  }
}
.tour-dates__button {
  background-color: black;
  color: #FFFFFF;
  font-family: avenir;
  width: 90vw;
  font-weight: 600;
  border-radius: 0.3125rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .tour-dates__button {
    width: 20vw;
  }
}/*# sourceMappingURL=shows.css.map */