@import "./partials/_screensizes";
@import "./partials/_mixins";
@import "./partials/_colors";
@import "./partials/_global";



.hero{

    background-image: url(../Assets/Images/hero-shows.jpg);
    background-position: center;
    position:relative;
    background-size: cover;
    height: 60vh;
    display: flex;
    align-items: flex-start;
    padding-left: 1rem;
    flex-direction: column;
    @media (min-width:$tablet) {
        height:80vh;
    }
    @media (min-width:$desktop) {
       height:100vh;
       flex-direction: row;
    }
    &__container{
        @media (min-width:$desktop) {
            width: 50vw;
            align-self: center;
         }
    }
    &__iframe{
        z-index: 3;
        font-size: 10px;
        color: #cccccc;
        line-break: anywhere;
        word-break: normal;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
        font-weight: 100;
        width: 80vw;
        @media (min-width:$desktop) {
            align-self: center;
            width: 50vw;
            padding-left: 5rem;
            padding-right: 5rem;
         }
    }
    &__iframe-link{
        color: #cccccc;
        text-decoration: none;
    }
    &__overlay{
        position:absolute;
        z-index: 2;
        background-color: #32323280;
        top:0;
        left: 0;
        width: 100%;
        height:100%;
    }
    &__title{
        font-family: avenir;
        font-weight: 400;
        color: $primary3;
        position: relative;
        z-index: 3;
        font-size: 1rem;
        padding-top: 3rem;
        @media (min-width:$tablet) {
            font-size:1.5rem;
            padding-left:1.5rem;
        };
        @media(min-width:$desktop){
            font-size:2rem;
            padding-left:5rem;
            font-weight: 600;
            align-self: center;
        };
    }
    &__album-name{
        font-family: avenir;
        font-weight: 600;
        color: $primary3;
        position: relative;
        z-index: 3;
        @media (min-width:$tablet) {
            font-size:3rem;
            padding-left:1.5rem;
        };
        @media(min-width:$desktop){
            margin-top: 0;
            font-size:5rem;
            padding-left:5rem;
            align-self: center;
        };
    }
}

.tour-dates{

    @media (min-width:$desktop) {
        padding-top: 2rem;
        display:flex;
        flex-direction: row;
    }
    &__desktop-container{
        @media (min-width: $desktop) {
            width: 70vw;
            padding-right: 4.5rem;
        }
    }
    &__header--fixed{
        display:none;
        list-style: none;
        padding-left: 1rem;
        margin-left:0;
        @media(min-width:$tablet){
            display:flex;
            justify-content: space-between;
        }
    }
    &__header-item--fixed{
        font-size: .875rem;
        color: $primary2;
        font-family: avenir;
        font-weight: 600;
        @media(min-width:$tablet){
            width: 20vw;
        }
    }
    &__title{
        font-family: avenir;
        font-size: 1.5rem;
        font-weight: bold;
        padding-bottom: 1rem;
        @media (min-width: $desktop) {
            width: 30vw;
            font-size: 2.25rem;
            padding-left: 5vw;
            }
    }
    &__list{
        padding-left: 0;
    }
    &__header{
        font-size: .875rem;
        color: $primary2;
        font-family: avenir;
        font-weight: 600;
        @media (min-width:$tablet) {
            display: none;
        }
    }
    &__info{
        font-size: .875rem;
        color: $primary;
        font-family: avenir;
        @media(min-width:$tablet){
            width:20vw;
        }
        &--bold{
            font-weight: bold;
        }
    }
    &__item{
    border-bottom: 1px solid $secondary2;
    padding-bottom: 1rem;
    margin-bottom: .5rem;
    list-style: none;
    @media(min-width:$tablet){
        display:flex;
        flex-direction: row;
        padding-left: 1rem;
        padding-right: 1rem;
        justify-content: space-between;
    }
    }
    &__item:hover{background-color: $secondary3;
    }
    &__item--selected{
        background-color:$primary2;
    }
    &__item--selected:hover{background-color: $primary2;}
    


    &__button{
        background-color: black;
        color: $primary3;
        font-family: avenir;
        width: 90vw;
        font-weight: 600;
        border-radius: .3125rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
        @media(min-width:$tablet){
            width: 20vw;
        }
    }
}